@using Fruitify.Common
@{
    this.ViewData["Title"] = "Home Page";

    var imageBg1 = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343467/FrutifyPics/bg_1_cmhcer.jpg";
    var imageBg2 = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343467/FrutifyPics/bg_2_n6xsie.jpg";
    var imgCategory = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343462/FrutifyPics/category_l0gdfp.jpg";
    var imgFruitCategory = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343464/FrutifyPics/category-2_i9bivp.jpg";
    var imgVegetableCategory = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343464/FrutifyPics/category-1_xkb5wk.jpg";
    var imgJuicesCategory = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343465/FrutifyPics/category-3_hdu29a.jpg";
    var imgSaladsCategory = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343469/FrutifyPics/image_1_fvlfug.jpg";
    var imgDayProductBg = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343466/FrutifyPics/bg_3_wnmb84.jpg";

    var imgPepper = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343468/FrutifyPics/product-1_zaursu.jpg";
    var imgApple = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343471/FrutifyPics/product-10_w27uqv.jpg";
    var imgTomato = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343470/FrutifyPics/product-5_qpdrv6.jpg";
    var imgBrocolli = "https://res.cloudinary.com/dp70enihl/image/upload/v1588343471/FrutifyPics/product-6_ykwqxk.jpg";

}

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(@imageBg1);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-12 text-center">
                        <h1 class="mb-2">Ние предлагаме пресни плодове и зеленчуци</h1>
                        <h2 class="subheading mb-4">Доставка на свежи плодове и зеленчуци</h2>
                        <p><a href="#" class="btn btn-primary">Детайли</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(@imageBg2);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 text-center">
                        <h1 class="mb-2">100% натурални храни</h1>
                        <h2 class="subheading mb-4">Доставка на свежи плодове и зеленчуци</h2>
                        <p><a href="#" class="btn btn-primary">Детайли</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Безплатна доставка</h3>
                        <span>За поръчки над 50лв</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-diet"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Винаги свежи</h3>
                        <span>Добре опаковани</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Безкомпромисно качество</h3>
                        <span>Отлични продукти</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Винаги до вас</h3>
                        <span>на разположение 24/7</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 order-md-last align-items-stretch d-flex">
                        <div class="category-wrap-2 img align-self-stretch d-flex" style="background-image: url(@imgCategory);">
                            <div class="text text-center">
                                <h2>Плодовете и Зеленчуците</h2>
                                <p>се грижат за здравето във всеки дом</p>
                                <p><a href="#" class="btn btn-primary">Пазарувай</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category-wrap img mb-4 d-flex align-items-end" style="background-image: url(@imgFruitCategory);">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Плодове</a></h2>
                            </div>
                        </div>
                        <div class="category-wrap img d-flex align-items-end" style="background-image: url(@imgVegetableCategory);">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Зеленчуци</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="category-wrap img mb-4 d-flex align-items-end" style="background-image: url(@imgJuicesCategory);">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#">Сокове</a></h2>
                    </div>
                </div>
                <div class="category-wrap img d-flex align-items-end" style="background-image: url(@imgSaladsCategory);">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#">Салати</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center">
                <span class="subheading">Актуални продукти</span>
                <h2 class="mb-4">Продукти на седмицата</h2>
                <p>Плодовете и зеленчуците съдържат разнообразие от хранителни елементи, жизнено важни за човешкото здраве.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="@imgPepper" alt="Colorlib Template">
                        <span class="status">5%</span>
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Чушки</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span class="mr-2 price-dc">5.00 лв</span><span class="price-sale">4.75 лв</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="icon-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="icon-shopping-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="icon-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="@imgApple" alt="Colorlib Template">
                        <span class="status">5%</span>
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Ябълки</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span class="mr-2 price-dc">2.00 лв</span><span class="price-sale">1.90 лв</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="icon-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="icon-shopping-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="icon-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="@imgTomato" alt="Colorlib Template">
                        <span class="status">5%</span>
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Домати</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span class="mr-2 price-dc">4.00 лв</span><span class="price-sale">3.80 лв</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="icon-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="icon-shopping-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="icon-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="@imgBrocolli" alt="Colorlib Template">
                        <span class="status">5%</span>
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Броколи</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span class="mr-2 price-dc">8.00 лв</span><span class="price-sale">7.60 лв</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="icon-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="icon-shopping-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="icon-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section img" style="background-image: url(@imgDayProductBg);">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section deal-of-the-day">
                <span class="subheading">Най - добра цена</span>
                <h2 class="mb-4">Продукт на деня</h2>

                <div class="col-md-7">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="@imgBrocolli" alt="Colorlib Template">
                            <span class="status">5%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">Броколи</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">8.00 лв</span><span class="price-sale">7.60 лв</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="icon-menu"></i></span>
                                    </a>
                                    <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="icon-shopping-cart"></i></span>
                                    </a>
                                    <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="icon-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
